* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
#content-body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 1.6vmin);
    margin: 1em;
  }

  #content-body {
    height: 78vh;
}

.flex-start {
    align-items: flex-start;
}
.line {
    display: flex;
    justify-content: space-between;
}
.list-title {
    font-size: 0.9em;
    margin: 0;
}

.list-descrip {
    font-size: 0.8em;
    font-style: italic;
    margin: 0;
    margin-top: 0.5em;
    font-weight: 500;
}

.list-item {
    width: 80vw;
}

.list-item {
    margin-bottom: 1em;
}

nav, .nav-links {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(10px + 1vmin);
}

nav,.reg-footer {
    margin: 1.5em 9.5vw;
}

#linkedin>svg {
    width: 30px;
}


.nav-text {
    text-decoration: none;
    color: black;
    margin-right: 1em;
    font-size: large;
}

.nv-text, #linkedin, .email {
    transition: opacity 0.2s ease-in-out;
}

.nav-text:hover, #linkedin:hover, .email:hover {
    opacity: 0.7;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 1vmin);
}

.email {
    color: black;
    font-weight: 600;
}

.copyright-text {
    margin-right: 25px;
}


@media (min-width: 768px){
    .list-item {
        width: 70vw;
    }

    nav, .reg-footer {
        margin: 1.5em 14.5vw;
    }
}

@media (max-width: 768px) {
    .line {
        flex-direction: column;
    }
}


@media (max-width: 480px) {
    .nav-text {
        font-size: calc(9px + 1.5vmin);
    }
    #linkedin>svg {
        width: 25px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .copyright-text {
        margin-bottom: 0.5em;
    }
}


body:hover > #trailer {
    opacity: 1;
  }
  
  #trailer {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 20px;
    
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
    
    display: grid;
    place-items: center;
  }
  
  #trailer:not([data-type=""]) > #trailer-icon {
    opacity: 1;
  }
  
  #trailer-icon {
    font-size: 6px;
    line-height: 4px;
    color: white;
    opacity: 0;
    transition: opacity 400ms ease;
  }
  
  .interactable {
    aspect-ratio: 1 / 1.5;
    width: clamp(120px, 40vmin, 600px);
    background-position: center 50%;
    background-size: 100%;  
    opacity: 0.4;
    
    transition: background-size 400ms ease, opacity 400ms ease;
  }
  
  .interactable:hover {
    background-size: 105%;
    opacity: 0.8;
  }
  

  /* Quote Section */
  #quote-list {
      height:200vh;
  }

.quote {
    font-weight: 400;
    margin-bottom: 1em;
    font-size: 1.5em;
  }